<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
        margin: 0;
        line-height: normal;
        font-family: 'Satoshi', sans-serif;
      }

      @media only screen and (max-width: 600px) {
        table[class='wrapper'] {
          width: 100% !important;
        }
        td[class='header'] {
          text-align: center;
        }
        td[class='content'] {
          padding: 20px;
        }
      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Satoshi:weight@300;400;500;700&display=swap"
    />
  </head>

  <body
    style="margin: 0; line-height: normal; font-family: 'Satoshi', sans-serif"
  >
    <table class="wrapper" style="width: 100%; background-color: #fff">
      <tr>
        <td class="header" style="padding: 40px 0; text-align: center">
          <!-- Header content goes here -->
          <div>
            <h1></h1>
          </div>
        </td>
      </tr>
      <tr>
        <td class="content" style="padding: 0px 20px 40px; text-align: center">
          <!-- Content goes here -->
          <div
            style="
              background-color: #fafaff;
              padding: 20px;
              border-radius: 10px;
              box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
              text-align: left;
            "
          >
            <h2>Your Registration is Complete!</h2>
            <p>Hi <%= user.firstName %>,</p>
            <p>Welcome to the <%= company.name %> Visitor Management App!</p>
            <p>
              We're thrilled to have you on board. At <%= company.name %>, we
              are committed to providing you with a seamless and secure visitor
              management experience.
            </p>
            <p>
              Your feedback is incredibly valuable to us. We're always looking
              for ways to enhance the <%= company.name %> App for our community.
              Whether you have suggestions, questions, or just want to say
              hello, feel free to hit the reply button and share your thoughts
              with us.
            </p>
            <p>
              Stay tuned for exciting features coming soon! We're continuously
              working to make your experience even better.
            </p>
            <p>Thank you for choosing <%= company.name %>!</p>
          </div>
        </td>
      </tr>
    </table>

    <table class="footer" style="width: 100%; background-color: #fff">
      <tr>
        <td style="padding: 10px 20px; text-align: center">
          <!-- Footer content goes here -->
          <p>
            If you did not take this action, please contact us immediately at
            <span style="text-decoration: underline"><%= company.email %></span>
          </p>
          <p>&copy; 2023 <%= company.name %>. All rights reserved.</p>
        </td>
      </tr>
    </table>
  </body>
</html>
