<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Satoshi:wght@300;400;500;700&display=swap"
    />

    <style>
      body {
        margin: 0;
        line-height: normal;
      }
    </style>
  </head>
  <body>
    <div
      style="
        position: relative;
        background-color: #fff;
        width: 100%;
        height: 780px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        padding: 0px 0px 40px;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        gap: 64px;
        text-align: center;
        font-size: 12px;
        color: #000;
        font-family: Satoshi;
      "
    >
      <div
        style="
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
        "
      >
        <div style="position: relative; width: 648px; height: 598px">
          <div
            style="
              position: absolute;
              height: 50.84%;
              width: 100%;
              top: 0%;
              right: 0%;
              bottom: 49.16%;
              left: 0%;
              background-color: #fff;
            "
          ></div>
          <div
            style="
              position: absolute;
              top: 40px;
              left: 40px;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: flex-start;
              gap: 40px;
            "
          >
            <div
              style="
                width: 568px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
              "
            >
              <div
                style="
                  position: relative;
                  border-radius: 15px;
                  background-color: #fff;
                  width: 30px;
                  height: 30px;
                  overflow: hidden;
                  flex-shrink: 0;
                "
              >
                <img
                  style="
                    position: absolute;
                    top: calc(50% - 12.15px);
                    left: calc(50% - 13.65px);
                    width: 27.15px;
                    height: 24.3px;
                    object-fit: cover;
                  "
                  alt=""
                  src="./public/image-1@2x.png"
                />
              </div>
              <div
                style="
                  border-radius: 100px;
                  background-color: #fff;
                  border: 1px solid rgba(0, 0, 0, 0.1);
                  display: flex;
                  flex-direction: row;
                  padding: 8px 12px;
                  align-items: center;
                  justify-content: center;
                "
              >
                <div
                  style="
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 8px;
                  "
                >
                  <div style="position: relative; line-height: 24px">
                    User Profile
                  </div>
                  <img
                    style="position: relative; width: 16px; height: 16px"
                    alt=""
                    src="./public/vuesaxlinearprofile1.svg"
                  />
                </div>
              </div>
            </div>
            <div
              style="
                border-radius: 20px;
                background-color: #fafaff;
                box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.1);
                overflow: hidden;
                display: flex;
                flex-direction: column;
                padding: 40px;
                align-items: flex-start;
                justify-content: center;
                gap: 24px;
                text-align: left;
                font-size: 36px;
              "
            >
              <b style="position: relative; text-transform: capitalize"
                >Let’s get you signed in.</b
              >
              <div
                style="
                  position: relative;
                  font-size: 16px;
                  line-height: 30px;
                  display: inline-block;
                  width: 488px;
                "
              >
                <p style="margin-block-start: 0; margin-block-end: 26px">
                  Hi Dominic,
                </p>
                <p style="margin: 0">
                  Please copy and paste the 5-digit code below into the number
                  fields of your sign-in process.
                </p>
              </div>
              <div
                style="
                  border-radius: 16px;
                  background-color: #f1f1ff;
                  width: 488px;
                  display: flex;
                  flex-direction: column;
                  padding: 24px;
                  box-sizing: border-box;
                  align-items: center;
                  justify-content: center;
                  color: #4637ca;
                "
              >
                <div
                  style="
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                  "
                >
                  <b style="position: relative; letter-spacing: 0.2em"
                    >3 2 1 2 8 8</b
                  >
                </div>
              </div>
              <div
                style="
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  justify-content: flex-start;
                  font-size: 16px;
                "
              >
                <div
                  style="
                    position: relative;
                    line-height: 32px;
                    font-weight: 300;
                    display: inline-block;
                    width: 488px;
                  "
                >
                  Have questions or trouble logging in?
                </div>
                <div
                  style="
                    position: relative;
                    line-height: 32px;
                    font-weight: 300;
                    display: inline-block;
                    width: 488px;
                  "
                >
                  <span>Just reply to this email or contact </span>
                  <span style="text-decoration: underline; color: #4637ca"
                    >hi@chevyview.com</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        style="
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 10px;
          text-align: left;
          font-size: 16px;
        "
      >
        <div
          style="
            position: relative;
            line-height: 32px;
            font-weight: 300;
            display: inline-block;
            width: 568px;
          "
        >
          If you did not take this action, please contact us immediately at
          <span style="text-decoration: underline">hi@chevyview.com</span>
        </div>
        <div
          style="
            position: relative;
            line-height: 32px;
            font-weight: 300;
            display: inline-block;
            width: 568px;
          "
        >
          Copyright © 2023 Balosh Technologies Limited. All rights reserved.
        </div>
      </div>
    </div>
  </body>
</html>
